@charset "utf-8";
/* CSS Document */

/*タイトル画像*/
.title {
    text-align: center;
}
/*背景色*/
body {
    background-color: #222222;
}
/*文字の色と大きさ*/
body p {
    color: #FFFFFF;
	font-size: x-large;
}
/*ヒントボタン*/
.hint{
	display:flex;
	list-style:none;
	text-align:center;
	padding:0;
	width:100%;
}
.hint li{
	text-align:center;
	padding:10px;
	width:100%
}li form .botan {
    width: 150px;
    height: 50px;
    font-size: large;
}
/*数字の横並び*/
.number {
    display: flex;
    list-style: none;
	margin-left: 35%;
    text-align: center;
}
.number li{
    text-align: center;	
}
/*入力した数字の結果*/
.eat_bite{
	 display: flex;
    list-style: none;
    margin-left: 30%;
}
/*ヒント1*/
.high_low {
    display: flex;
    list-style: none;
    margin-left: 40%;
    text-align: center;
}
/*ヒント2*/
.slash {
    display: flex;
    list-style: none;
    margin-left: 35%;
    text-align: center;
}
.slash li .slashnumber {
    font-size: 50px;
    color: #00FF33;
}
.slash li .snumber {
    margin-top: 30px;
}
/*数字を入力するための選択肢*/
.sentaku {
    display: flex;
    list-style: none;
    width: 100%;
	margin-left: 42%;
}
.sentaku li{
    text-align: center;
    width: 8%;
}
/*コールボタン*/
.Challenge {
    text-align: center;

}
.Challenge form .botan {
    width: 100px;
    height: 50px;
}
/*クリア画像*/
.gazou {
    text-align: center;
}
/*リザルト画面のスコア*/
.scoa {
    text-align: center;
    font-size: xx-large;
    color: #DD3232;
}
/*戻るボタン*/
.return {
    text-align: center;
}
.return form .botan {
    width: 100px;
    height: 50px;
    font-size: medium;
}

/*コールボタン*/
.Challenge .botan {
    width: 100px;
    height: 50px;
    font-size: large;
}

.sentaku li .choose {
    font-size: large;
}
/*スタートボタン*/
.start {
	    text-align: center;
}
.start .botan {
	width: 100px;
    height: 50px;
}

/*遊び方ページ*/
.asobikata {
    text-align: center;
    font-size: xx-large;
}
.asobi {
    text-align: center;
}
.setumei {
    color: #FFFFFF;
}
